{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "overrides": [
        {
            "files": ["*.js", "*.ts"],
            "options": {
                "semi": false
            }
        }
    ]
}
